$body_width: 800px;
$default_color: #101010;
$background: #fefefe;
$toc_background: #f8f8f8;
$toc_border: #eee;
$quote_border: #eee;
$quote_background: #f0f0f0;
$normal_font_size: 12pt;
$header_offset: -0.3em;
$icon_color: #B0B0B0;
$link: #2A75A9;
$link_visited: #274257;
$link_hover: #7EB5D6;
$link_home: #5F819D !important;
$footnote_font_size: 8pt;
$footnote_border: 1px solid $toc_border;
$footnote_top_margin: 2em;
$h2_color: #303030;
$title_family: serif;
$body_family: serif;
$rss_color: #ff6600;
$rss_hover_color: #ee5500;
$title_top_margin: -32px;
$title_bottom_margin: 32px;

/* STYLE RESET */
* {
    vertical-align: baseline;
    font-family: serif;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, form, ul, ol, dl {
    margin: 0 0 12px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title_family;
    color: #111;
    a {
        color: #274257;
        text-decoration: None;
    }
    margin: {
        bottom: 12px;
    }
    margin: {
        top: 18px;
    }
}

h1 {
    font-size: 24px;
    border-bottom: 1px solid $toc_border;
    margin: {
        top: $title_top_margin;
        bottom: $title_bottom_margin;
    }
}

h2, h3, h4, h5, h6 {
    font-family: $title_family;
    margin {
        left: $header_offset;
        bottom: 12px;
    }
}

h2 {
    font-size: 22px;
    color: $h2_color;
    a {
        text-decoration: None;
    }
    margin: {
        left: $header_offset;
        bottom: 24px;
    }
    margin: {
        top: 32px;
    }
}

h3 {
    font-size: 18px;
    color: #303030;
    a {
        color: #404040;
        text-decoration: None;
    }
    margin: {
        left: $header_offset;
        bottom: 10px;
    }
    margin: {
        top: 16px;
    }
}

h4 {
    font: {
        weight: normal;
        style: italic;
        size: 18px;
    }
    color: #303030;
    a {
        color: #606060;
        text-decoration: None;
    }
    margin: {
        left: $header_offset;
        top: 18px;
        bottom: 8px;
    }
}

li, dd {
    margin: {
        left: 20px;
        right: 20px;
    }
}

blockquote {
    background: $quote_background;
    border: {
        left:   8px solid $quote_border;
        right:  0px solid $quote_border;
        top:    0px solid $quote_border;
        bottom: 0px solid $quote_border;
    }
    padding: {
        left:   10px;
        right:  10px;
        bottom: 0px;
        top:    2px;
    }
    margin: {
        left:   0px;
        right:  0px;
        bottom: 0px;
        top:    0px;
    }
    li {
        padding: {
            left: 10px;
        }
        margin: {
            left: 20px;
            right: 5px;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: $default_color;
    background: $background;
    font-size: $normal_font_size;
    font-family: $body_family;
    line-height: 1.6;
    margin: 0px auto 0px auto;
    width: $body_width;
}


em {
    font-style: italic;
}

.footnotes {
    border-top: $footnote_border;
    margin-top: $footnote_top_margin;
}

.footnoteRef {
    vertical-align: super;
    font-size: 10px;
}

.float {
    float: left;
    margin {
        left: 16px;
        right: 16px;
        bottom: 16px;
        top: 16px;
    }
    padding {
        left: 16px;
        right: 16px;
        bottom: 16px;
        top: 16px;
    }
}

#toc {
    float: right;
    border: 1px solid $toc_border;
    h2 {
        margin: {
            left: 0;
            top: 8px;
            bottom: 8px;
        }
        font: {
            style: normal;
            weight: bold;
            size: 12pt;
        }
        text: {
            align: center;
        }
        border-bottom: 0px;
    }
    h3, h4, h5, h6 {
        margin: 0px;
    }
    font: {
        size:10pt;
    }
    ul {
        margin: 8px;
    }
    li {
        margin: {
            left: 32px;
            right: 32px;
            bottom: 0px;
            top: 0px;
        }
        list-style-type: lower;
    }
    margin: {
        top: -30px;
        left: 30px;
        right: 0px;
    }
    background: $toc_background;
}
img {
    align: right;
    margin: {
        left: auto;
        right: auto;
    }
}


img + p.caption {
    :before {
        content: "Fig: ";
        font: {
             size: 8px;
             style: normal;
        }
        padding-right: 0.3em;
    }
    font: {
        size: 10px;
        style: normal;
    }
    padding: {
         top: 16px;
         bottom: 1px;
         left: 0px;
         right: 0px;
    }
    text-align: center;
}

div {
    div.figure {
        text: {
            align: center;
        }
        margin: {
            left: auto;
            right: auto;
        }
    }
}

div#header {
    border-bottom: 0px solid #5F819D;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div#navigation {
    text-align: right;
    a {
        font: {
            size: 16px;
            weight: bold;
        }
        margin-left: 16px;
        text-decoration: none;
        text-transform: lowercase;
    }
    i {
        color: $icon_color;
        margin-right: 2px;
    }
}

.snippets {
    i {
        margin-right: 2px;
    }
    margin: {
        bottom: 16px;
        top:8px;
    }
}

div#footer {
    border-top: solid 1px #5F819D;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a {
    color: $link;
    :visited {
        color: $link_visited;
    }
    :hover {
        color: $link_hover;
    }
    .home {
        color: $link_home;
    }

    .footnoteRef {
        font-size: $footnote_font_size;
        vertical-align: super
    }
}

.code
{
    font-size: $normal_font_size;
    line-height: 0;
    font-family: monospace;
}

.rss {
    float: right;
    color: $rss_color;
    text-decoration: none;
    :visited { color: $rss_color;       }
    :hover   { color: $rss_hover_color; }
}