$body_width: 800px;
$default_color: #202020;
$background: #fff;
$toc_background: #f8f8f8;
$toc_border: #eee;
$quote_border: #eee;
$quote_background: #f8f8f8;
$normal_font_size: 12pt;
$footnote_font_size: 8pt;
$header_offset: -6px;
$link: #2A75A9;
$link_visited: #274257;
$link_hover: #7EB5D6;
$link_home: #5F819D !important;

/* STYLE RESET */
* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
    margin: 0 0 16px 0;
}

li, dd {
    margin: {
        left: 80px;
        right: 80px;
    }
}

blockquote {
    background: $quote_background;
    border: 1px solid $quote_border;
    margin: {
        left: 60px;
        right: 60px;
    }
    li {
        padding: {
            left: 10px;
            }
        margin: {
            left: 20px;
            right: 5px;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END RESET */

body {
    color: $default_color;
    background: $background;
    font-size: $normal_font_size;
    margin: 0px auto 0px auto;
    width: $body_width;
}

#toc {
    float: right;
    border: 1px solid $toc_border;
    h2 {
        font: {
            style: normal;
            weight: bold;
            size: 12pt;
        }
        text: {
            align: center;
        }
        margin-bottom: 8px;
    }
    font: {
        size:10pt;
    }
    li {
        margin: {
            left: 36px;
            right: 36px;
        }
    }
    margin: {
        top: -70px;
        left: 30px;
        right: 0px;
        bottom: 30px;
    }
    background: $toc_background;
    li {
        list-style-type: lower;
    }
}

img + p.caption {
    :before {
        content: "Fig: ";
        font: {
             size: 8px;
             style: normal;
        }
        padding-right: 0.3em;
    }
    font: {
        size: 10px;
        style: normal;
    }
    padding: {
         top: 16px;
         bottom: 1px;
         left: 0px;
         right: 0px;
    }
}

div {
    div.figure {
        width: 60%;
        text: {
            align: center;
        }
        margin: {
            left: auto;
            right: auto;
        }
    }
}

div#header {
    border-bottom: 1px solid #5F819D;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div#navigation {
    text-align: right;
    a {
        font: {
            size: 16px;
            weight: bold;
        }
        margin-left: 16px;
        text-decoration: none;
        text-transform: lowercase;
    }
    i {
        margin-right: 2px;
    }
}

.snippets {
    i {
        margin-right: 2px;
    }
    margin: {
        bottom: 16px;
        top:8px;
    }
}

div#footer {
    border-top: solid 1px #5F819D;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: {
        left: $header_offset;
    }
}

h2 {
    font-size: 20px;
    color: #111;
    a {
        color: #274257;
        text-decoration: None;
    }
    margin: {
        left: $header_offset;
        bottom: 12px;
    }
    margin: {
        top: 18px;
    }
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a
{
    color: $link;
    :visited {
        color: $link_visited;
    }
    :hover {
        color: $link_hover;
    }
    .home {
        color: $link_home;
    }

    .footnoteRef {
        font-size: $footnote_font_size;
        vertical-align: super
    }
}


.code
{
    font-family: monospace;
}
