$codebg: #eee;
$codeborder: #ddd;
$src_font: "Lucidia Console", monospace;
$src_font_size: 10pt;
$src_line_height: 12pt;
table.sourceCode
{
}
tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
    background: $codebg;
}
td.lineNumbers
{
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
}
td.sourceCode
{
    padding-left: 5px;
    width:100%;
}
code
{
    font-family: $src_font;
    font-size: $src_font_size;
    background: $codebg;
    border: 0px solid $codeborder;
    padding: {
        top:    0em;
        bottom: 0em;
        left:   0.2em;
        right:  0.2em;
    }
}
pre.sourceCode
{
    code {
        background: $codebg;
        // Code blocks shouldn't have a border on each line.
        border: 0px;
        padding: 0px;
        margin: 0px;
    }
    padding: {
        top:    0.5em;
        bottom: 0.5em;
        left:   0.5em;
        right:  0.5em;
    }
    margin: {
        top:    1em;
        bottom: 1em;
        left:   -1.3em;
        right:  -1.0em;
    }
    border: {
        top:    0px solid $codeborder;
        bottom: 0px solid $codeborder;
        left:   0.3em solid $codeborder;
        right:  0px solid $codeborder;
    }
    line-height: $src_line_height;
    background: $codebg;
}
.sourceCode span.kw
{
    color: #007020;
    font-weight: bold;
}
.sourceCode span.dt
{
    color: #902000;
}
.sourceCode span.dv
{
    color: #40a070;
}
.sourceCode span.bn
{
    color: #40a070;
}
.sourceCode span.fl
{
    color: #40a070;
}
.sourceCode span.ch
{
    color: #4070a0;
}
.sourceCode span.st
{
    color: #4070a0;
}
.sourceCode span.co
{
    color: #60a0b0;
    font-style: italic;
}
.sourceCode span.ot
{
    color: #007020;
}
.sourceCode span.al
{
    color: red;
    font-weight: bold;
}
.sourceCode span.fu
{
    color: #06287e;
}
.sourceCode span.re { }
.sourceCode span.er
{
    color: red;
    font-weight: bold;
}
