@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

$codebg: #F7F5FF;
$codeborder: #989CB3;
$src_font: "Droid Sans Mono";

.sourceCode
{
    padding: {
        top:    0.5em;
        bottom: 0.5em;
        left:   0.5em;
        right:  0;
    }
}
tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
    background: $codebg;
}
td.lineNumbers
{
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
}
td.sourceCode
{
}
code
{
    font-size: 8pt;
    line-height: 12pt;
    @include breakpoint(tablet) {
        font-size: 10pt;
        line-height: 14pt;
    }
    font-family: $src_font;
    background: $codebg;
    border: 0px solid $codeborder;
    padding: {
        top:    0;
        bottom: 0;
        left:   0;
        right:  0;
    }
}
pre.sourceCode
{
    font-size: 8pt;
    line-height: 12pt;
    @include breakpoint(tablet) {
        font-size: 10pt;
        line-height: 12pt;
    }
    width: 100%;
    @include breakpoint(tablet) {
        width: 100%;
    }
    code {
        background: $codebg;
        // Code blocks shouldn't have a border on each line.
        border: 0px;
        padding: 0px;
        margin: 0px;
    }
    margin: {
        top:    1em;
        bottom: 1em;
        left:   -2.5%;
        right:  0em;
    }
    border: {
        top:    0;
        bottom: 0;
        left:   0.5em solid $codeborder;
        right:  0;
    }
    background: $codebg;
}
.sourceCode span.kw
{
    color: #007020;
    font-weight: bold;
}
.sourceCode span.dt
{
    color: #902000;
}
.sourceCode span.dv
{
    color: #40a070;
}
.sourceCode span.bn
{
    color: #40a070;
}
.sourceCode span.fl
{
    color: #40a070;
}
.sourceCode span.ch
{
    color: #4070a0;
}
.sourceCode span.st
{
    color: #4070a0;
}
.sourceCode span.co
{
    color: #60a0b0;
    font-style: italic;
}
.sourceCode span.ot
{
    color: #007020;
}
.sourceCode span.al
{
    color: red;
    font-weight: bold;
}
.sourceCode span.fu
{
    color: #06287e;
}
.sourceCode span.re { }
.sourceCode span.er
{
    color: red;
    font-weight: bold;
}
