$codebg: #f8f8f8;
$codeborder: #eee;
$src_font: "Lucidia Console", monospace;
$src_font_size: 14px;
$src_line_height: 24px;
table.sourceCode
{
}
tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
    background: $codebg;
}
td.lineNumbers
{
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
}
td.sourceCode
{
    padding-left: 5px;
    width:100%;
}
code
{
    margin: 0;
    font-family: $src_font;
    font-size: $src_font_size;
    background: $codebg;
    border: 1px solid $codeborder;
}
pre.sourceCode
{
    code {
        // Code blocks shouldn't have a border on each line.
        border: 0px;
    }
    border: {
        top: 0px solid $codeborder;
        bottom: 6px solid $codeborder;
        left: 0px solid $codeborder;
        right: 0px solid $codeborder;
    }
    //border: 1px solid $codeborder;
    line-height: $src_line_height;
    background: $codebg;
    padding-left: 0px;
}
.sourceCode span.kw
{
    color: #007020;
    font-weight: bold;
}
.sourceCode span.dt
{
    color: #902000;
}
.sourceCode span.dv
{
    color: #40a070;
}
.sourceCode span.bn
{
    color: #40a070;
}
.sourceCode span.fl
{
    color: #40a070;
}
.sourceCode span.ch
{
    color: #4070a0;
}
.sourceCode span.st
{
    color: #4070a0;
}
.sourceCode span.co
{
    color: #60a0b0;
    font-style: italic;
}
.sourceCode span.ot
{
    color: #007020;
}
.sourceCode span.al
{
    color: red;
    font-weight: bold;
}
.sourceCode span.fu
{
    color: #06287e;
}
.sourceCode span.re { }
.sourceCode span.er
{
    color: red;
    font-weight: bold;
}
