$table-font-size: 12px;
$table-head-padding: 8px;
$table-color: #000;
$table-background: #fff;
$table-border-style: solid;
$table-head-bg: #ededed;
$table-border-width: 1px;
$table-border-color: #eee;

body {
    font-size: 16px;
}


table {
    color: $table-color;
    font-size: $table-font-size;
    background: $table-background;
    border: {
        width: $table-border-width;
        style: $table-border-style;
        color: $table-border-color;
    }
    font-family: monospace;
}

table th {
    padding-top: $table-head-padding;
    padding-bottom: $table-head-padding;
    padding-left: $table-head-padding;
    padding-right: $table-head-padding;
    color: $table-color;
    background: $table-head-bg;
}

table tr {
    text-align: center;
    padding-left: 16px;
    background: $table-background;
}

table td {
    border: 1px solid #eee;
    padding: 1px;
    background: $table-background;
}

table tr { 
    .highlight {
        background: #f2f2f2;
    }
    .destination {
        background: #DE94AF;
    }
    .source {
        background: #D8F0A0;
    }
    .sourceOccupied {
        background: #fff693;
    }
    .destinationOccupied {
        background: #ffc16f;
    }
}

#RegisterStatus {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    width: 95%;
}

#ReservationStations {
    float: left;
    width: 55%;
}

#InstructionStatus {
    float: right;
    width: 40%;
}

.tooltip {
	position: absolute;
	border: 1px solid #333;
	background-color: #161616;
	border-radius: 5px;
	padding: 3px;
	color: #fff;
	font-size: 12px;
}
