<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>nathan typanski - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
    </head>
    <body>
        <div id="header">
          $partial("templates/links.html")$
        </div>
        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>
        <div id="footer">
            $partial("templates/footer.html")$
        </div>
    </body>
</html>
