<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        $mathjax$
    </head>
    <body>
        <div id="header">
          $partial("templates/links.html")$
        </div>
        <div id="content">
            <h1>$title$$if(rssblog)$<a href="atom.xml" class="rss"><i class="fa fa-rss"></i></a>$endif$</h1>
            $body$
        </div>
        <div id="footer">
            $partial("templates/footer.html")$
        </div>
    </body>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
</html>
