<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        $if(mathjax)$$mathjax$$endif$
    </head>
    <body>
        <div id="header">
          $partial("templates/links.html")$
        </div>
        <div id="metadata">
            <ul class="meta">
            $if(tags)$
                <li>tags: <em>$tagLinks$</em></li>
            $endif$
            $if(status)$<li>status: <em> $status$ </em></li>$endif$
            $if(date)$<li>posted: <em> $date$ </em></li>$endif$
            </ul>
        </div>
        <div id="content">
            <h1>$title$$if(rssblog)$<a href="atom.xml" class="rss"><i class="fa fa-rss"></i></a>$endif$</h1>
            $body$
        </div>
        <div id="footer">
            $partial("templates/footer.html")$
        </div>
    </body>
</html>
