<div id="logo">
      <a href="/">
        <img class="img" src="/images/log0.png" />
      </a>
</div>
<div id="navigation">
  <ul>
    <li>
      <a href="/blog.html">
        <i class="fa fa-pencil"></i>Blog
      </a>
    </li>
    <li>
      <a href="/pages.html">
        <i class="fa fa-globe"></i>Writing
      </a>
    </li>
    <li>
      <a href="/worklog.html">
        <i class="fa fa-bar-chart"></i>Worklog
      </a>
    </li>
    <li>
      <a href="/contact.html">
       <i class="fa fa-envelope"></i>Contact
      </a>
    </li>
  </ul>
</div>
